## Hola Mundo!

Como es debido en todo lenguaje de programación, empezaremos con el "Hola Mundo". Solo es cuestión de utilizar la función **"print()"** la cual espera a una lista de caracteres como argumento

In [9]:
print("Hola Mundo")

Hola Mundo

También, es usual guardar el valor de la lista de caracteres en un variable (por ejemplo la variable **a**). Entonces:

In [13]:
a="Hola mundo"
print(a)

Hola mundo

Miremos cómo se concatena (une) listas de caracteres:

In [12]:
a="Hola"
print(a,"Mundo")

Hola Mundo

## Asignaciones Multiples

En una sola sentencia se puede asignar los valores a multiples variables

In [37]:
a=b=c=30
a,b,c=1,2,"5G"
print(c)

5G

## Tipos de datos estandar
Es la forma en que los datos se almacenan en la memoria.

Python tiene 5 tipos de datos estandar:

    Numbers
    String
    List
    Tuple
    Dictionary

### Numeros  

Python soporta tres tipos diferentes de números

    int (signed integers)
    float (floating point real values)
    complex (complex numbers)
 

Para definir estos tipos de datos se utiliza las funciones: Enteros $int()$, entero extenso $long()$ solo en python 2, punto flotante $float()$, complejo $complex()$
    
  
| int (Enteros)       | (Punto flotante) float           | Complejo (complex) |
| --------------------|:---------------------------------:| -----:|
| 10                  | 0.0                               | 3.14j |
| 100                 | 15.20                             | 1 + 50j |
| -0x260              | 70.2E-12                          | 0.2 -30j |

Se puede utilizar las anteriores funciones para realizar una converisón al tipo requerido. Para esto se debe utilizar el prefijo $"0x"$ Miremos un ejemplo:

In [43]:
var1 = 1
var2 = 10

a=int(10)
b=float(10)
c=complex(4,.2)

print(a)
print(b)
print(c)

10
10.0
(4+0.2j)

## Python Strings
Hace refrencia a una lista de caracteres uno en seguida del otro

In [45]:
#!/usr/bin/python3

str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

## Listas

In [47]:
#!/usr/bin/python3

list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

## Tuples (Tuplas)

In [48]:
#!/usr/bin/python3

tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete tuple
print (tuple[0])        # Prints first element of the tuple
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

## Diccionarios

In [49]:
#!/usr/bin/python3

dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [30]:
HexNum=0xFFFF
print(int(HexNum),float(HexNum),complex(HexNum))

65535 65535.0 (65535+0j)